@import url("Custom//colors.css");
@import url("Custom/footer.css");
@import url("Custom/pagination.css");
@import url("Custom//grid.css");
@import url("Custom//animations.css");

html, body {
    height: 100%;
}
/*
	The top continer of the page
	so to push put the footer in and push it to the bottom
*/
#hole-page-container {
    min-height: 100vh;
    padding-bottom: 30px;
}

table {
    white-space: nowrap
}


