@{
    ViewData["title"] = "Contact";
}

<div class="jumbotron bg-light mt-5 text-monospace">

    <p >As a big beliver of open-source software you can find the code on <a target="_blank" href="https://github.com/Saria-houloubi/SaveMyData">github</a>. </p>
    <p>I am actively developing on the website with the features that I see fit but if anyone needs something to be added.<br/> You can reach me on the links below and would be glad to do them.</p>
    <ul class="list-group list-group-flush bg-light">
        <li class="list-group-item "><i class="far fa-envelope"></i> <a href="mailto:houloubis@gmail.com?subject=savemydata_website">houloubis@gmail.com</a></li>
        <li class="list-group-item "><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/saria-houloubi-540b30114/">/Saria_Houloubi</a></li>
        <li class="list-group-item "><i class="fab fa-facebook"></i> <a href="https://www.facebook.com/saria.houloubi.5">/Saria_Houloubi</a></li>
    </ul>
</div>
