<div class="text-center mx-auto backgroud-image-box">
    <span class="display-1 font-weight-bold text-warning d-block">Contact</span>
    <span class="display-4 font-weight-bold text-secondary d-block">Email</span>
    <span class="display-3 font-weight-bold text-warning text-center">Houloubis@gmail.com</span>
</div>
