@{
    ViewData["title"] = "Guid";

}

<div class="text-center">
    <span class="display-4 text-monospace">Authentication</span>
</div>

<div class="container-fluid grid mt-4 text-monospace">
    <div class="row">
        <div class="col bg-light jumbotron mx-1">
            <span class="text-dark d-block"><span class="text-warning font-weight-bold">About : </span> checks the user credential and issues a JWT token.</span>
            <span class="text-dark d-block"><span class="text-warning font-weight-bold">Method : </span> POST</span>
            <span class="text-dark "><span class="text-warning font-weight-bold">End point: </span> ../api/authapi/login</span>
        </div>
        <div class="jumbotron col bg-dark mx-1">
            <span class="text-light d-block">Request</span>
            <span class="text-light">POST <span class="text-warning">"../api/authapi/login"</span></span>
            <span class="text-light d-block">Body</span>
            <p class="text-warning">
                {
                "email" : "mycoolMail@example.com",
                "password" : "pizza"
                }
            </p>
            </p>
            <span class="text-light d-block">Response</span>
            <p class="text-warning">
                {
                "token": "{JWTToken}",
                "id": "326a5ae7-00d1-4b91-9d21-299db076cdab",
                "email": "mycoolMail@example.com",
                "fullName": "cheese",
                "dob": "1996-11-03T20:00:00Z",
                "isMailConfirmed": true
                }
            </p>

        </div>
    </div>
</div>

<div class="container-fluid grid mt-4 text-monospace">
    <div class="row">
        <div class="col bg-light jumbotron mx-1">
            <span class="text-dark d-block"><span class="text-warning font-weight-bold">About : </span> Registers new user.</span>
            <span class="text-dark d-block"><span class="text-warning font-weight-bold">Method : </span> POST</span>
            <span class="text-dark "><span class="text-warning font-weight-bold">End point: </span> ../api/authapi/register</span>
        </div>
        <div class="jumbotron col bg-dark mx-1">
            <span class="text-light d-block">Request</span>
            <span class="text-light">POST <span class="text-warning">"../api/authapi/register"</span></span>
            <span class="text-light d-block">Body</span>
            <p class="text-warning">
                {
                "name" : "Foo",
                "email" : "mycoolMail@example.com",
                "password": "pizza",
                "ConfirmPassword" : "pizza",
                "dob" : "1996-11-04"
                }
            </p>

            <span class="text-light d-block">Response</span>
            <p class="text-light">Status code <span class="text-success">200 Ok</span></p>
        </div>
    </div>
</div>

<div class="text-center">
    <span class="display-4 text-monospace">Records</span>
</div>

<div class="container-fluid grid mt-4 text-monospace">
    <div class="row">
        <div class="col bg-light jumbotron mx-1">
            <span class="text-dark d-block"><span class="text-warning font-weight-bold">About : </span> get the list of records in a table.</span>
            <span class="text-dark d-block"><span class="text-warning font-weight-bold">Method : </span> GET</span>
            <span class="text-dark d-block"><span class="text-warning font-weight-bold">End point: </span> ../api/recordapi/records</span>
            <span class="text-dark "><span class="text-warning font-weight-bold">Authrized</span> JWT token <i class="fa fa-lock"></i></span>

        </div>
        <div class="jumbotron col bg-dark mx-1">
            <span class="text-light d-block">Request</span>
            <span class="text-light d-block">GET <span class="text-warning">"../api/recordapi/records"</span></span>
            <span class="text-light">Body </span>
            <p class="text-warning">
                {
                "database" : "MyCoolDatabase",
                "table" : "CoolTable",
                "Filters" : "{Name : \"Foo\" }"
                }
            </p>
            <p class="text-light"><span class="text-warning">Note: </span> You can get full list of mongo fileter queries <a class="text-success" href="https://docs.mongodb.com/manual/reference/operator/query/">here</a></p>
            <span class="text-light d-block">Response</span>
            <p class="text-light">Status code <span class="text-success">200 Ok</span></p>
            <p class="text-warning">
                [[{
                "name": "_id",
                "value": "5e269aa0dd445a4decb8e7cb"
                },
                {
                "name": "Name",
                "value": "Foo"
                },
                {
                "name": "Type",
                "value": "Bar"
                },
                {
                "name": "Custom",
                "value": [
                {
                "name": "Key",
                "value": "OurKeyValue"
                },
                {
                "name": "Number",
                "value": 1
                }}]]
            </p>

        </div>
    </div>
</div>

<div class="container-fluid grid mt-4 text-monospace">
    <div class="row">
        <div class="col bg-light jumbotron mx-1">
            <span class="text-dark d-block"><span class="text-warning font-weight-bold">About : </span> add a new record into a table.</span>
            <span class="text-dark d-block"><span class="text-warning font-weight-bold">Method : </span> POST</span>
            <span class="text-dark d-block"><span class="text-warning font-weight-bold ">End point: </span> ../api/recordapi/create</span>
            <span class="text-dark "><span class="text-warning font-weight-bold">Authrized</span> JWT token <i class="fa fa-lock"></i></span>
        </div>
        <div class="jumbotron col bg-dark mx-1">
            <span class="text-light d-block">Request</span>
            <span class="text-light">POST <span class="text-warning">"../api/collecitonapi/ShopDb/Products"</span></span>
            <span class="text-light d-block">Body</span>
            <p class="text-warning">
                { "Database" : "MyCoolDatabase",
                "Table" : "CoolTable",
                "Data" :
                { "Name" : "Foo",
                "Type" :"Bar",
                "Custom" : {
                "Key" : "OurKeyValue",
                "Number" : 1}}}
            </p>

            <span class="text-light d-block">Response</span>
            <p class="text-light">Status code <span class="text-success">201 Created</span></p>
            <p class="text-warning">

                [{
                "name": "_id",
                "value": "5e269aa0dd445a4decb8e7cb"
                },
                {
                "name": "Name",
                "value": "Foo"
                },
                {
                "name": "Type",
                "value": "Bar"
                },
                {
                "name": "Custom",
                "value": [
                {
                "name": "Key",
                "value": "OurKeyValue"
                },
                {
                "name": "Number",
                "value": 1
                }]}]
            </p>

        </div>
    </div>
</div>


<div class="container-fluid grid mt-4 text-monospace">
    <div class="row">
        <div class="col bg-light jumbotron mx-1">
            <span class="text-dark d-block"><span class="text-warning font-weight-bold">About : </span> Updates a record or a group of records based on the filter.</span>
            <span class="text-dark d-block"><span class="text-warning font-weight-bold">Method : </span> PUT</span>
            <span class="text-dark d-block"><span class="text-warning font-weight-bold ">End point: </span> ../api/recordapi/update</span>
            <span class="text-dark "><span class="text-warning font-weight-bold">Authrized</span> JWT token <i class="fa fa-lock"></i></span>
        </div>
        <div class="jumbotron col bg-dark mx-1">
            <span class="text-light d-block">Request</span>
            <span class="text-light">PUT <span class="text-warning">"../api/recordapi/update"</span></span>
            <span class="text-light d-block">Body</span>
            <p class="text-warning">
                {
                "database" : "MyCoolDatabase",
                "table" : "CoolTable",
                "Filters" : "{Name : \"Foo\" }",
                "update" : "{$set : { Name :  \"bar\"} }"
                }
            </p>
            <p class="text-light"><span class="text-warning">Note: </span> You can get full list of mongo update operators <a class="text-success" href="https://docs.mongodb.com/manual/reference/operator/update/">here</a></p>
            <span class="text-light d-block">Response</span>
            <p class="text-light">Status code <span class="text-success">200 OK</span></p>
            <p class="text-warning">
                {
                "isAcknowledged": true,
                "isModifiedCountAvailable": true,
                "matchedCount": 1,
                "modifiedCount": 1,
                "upsertedId": null
                }
            </p>

        </div>
    </div>
</div>


