/*
    Some basic css animations
*/


.fade-in {
    animation-name: fade-in;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
}

@keyframes fade-in{
    0% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}
