.excel-icon {
    color: #008000;
    margin: inherit;
    font-size: x-large;
    padding: 10px;
    border: 2px dotted transparent;
}

    .excel-icon:hover {
        border-color: #008000;
        border-radius: 10%;
    }

    .excel-icon:active {
        color: white;
        background-color: #008000;
    }
