@model SaveMyDataServer.ViewModels.Auth.RegisterViewModel;

<div class="container-fluid mt-5 text-center bg-light py-5">
    <h1 class="text-dark">Thank you for registering plase<br>confirm your email</h1>
    <img style="max-width: 20%" src="/Images/mail.svg"/>
</div>
